{
  "1": {
    "inputs": {
      "image": {{image | tojson}}
    },
    "class_type": "ETN_LoadImageBase64"
  },
  "2": {
    "inputs": {
      "vae_name": "sdxl-1.0\\sdxl_vae.safetensors"
    },
    "class_type": "VAELoader"
  },
  "3": {
    "inputs": {
      "vae_name": "sd-1.5\\kl-f8-anime2.ckpt.vae.pt"
    },
    "class_type": "VAELoader"
  },
  
  "4": {
    "inputs": {
      "pixels": [
        "1",
        0
      ],
      "vae": [
        "2",
        0
      ]
    },
    "class_type": "VAEEncode"
  },
  "5": {
    "inputs": {
      "samples": [
        "4",
        0
      ],
      "vae": [
        "3",
        0
      ]
    },
    "class_type": "VAEDecode"
  },
  "6": {
    "inputs": {
      "images": [
        "5",
        0
      ]
    },
    "class_type": "PreviewImage"
  }
}